1. Take 2 input, print the multiplication.

In [1]:
a = int(input())
b = int(input())

In [2]:
print("Multiplication:", a, "*", b, "=", a*b)

Multiplication: 5 * 7 = 35

2. Using for loop, print 1 - 100.

In [3]:
for i in range(1, 101):
    print(i, end=", ")

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100,

3. Take number of rows,n , print a pyramid using "*" of n lines.

In [9]:
n = int(input())
print("N =", n)
k = n-1

for i in range(0, k):
    for j in range(0, k):
        print(end=" ")
    k-=1
    for j in range(0, i):
        print("* ", end="")
    print()

N = 5

   *
  * *
 * * *

4. Create a class.

In [5]:
class Math:
    def __init__(self, num1, num2) -> None:
        self.num1 = num1
        self.num2 = num2
    
    def multi(self):
        return self.num1 * self.num2

In [6]:
m1 = Math(a, b)
ans = m1.multi()
print('Multi:', ans)

Multi: 35